/* CART HEADER */
.text-light {
  color: white;
}

.cart-body {
  background-color: black;
}

.cart-logo {
  display: flex;
  background: var(--black);
  height: 70px;
  width: 100%;
  top: 0px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--darkGrey);
}

.calculate {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.input-calc {
  width: 50px;
}

/* CART ARTICLE */
.cart-title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.product-box {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.article-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.square-img-container {
  margin-left: 2vw;
  position: relative;
  width: 50px;
  height: 100px;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
}

.square-img {
  height: 100%; 
}

.circle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgb(184, 182, 182);
  border: 1px solid var(--white);
  border-radius: 50%;
  top: -10px;
  left: 40px;
}


.description {
  color: var(--white);
  align-self: center;
  padding-left: 2vw;
  align-self: flex-start;
}

/* CHECKOUT & SHIPMENT */

.add-substract {
  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white);
  background-color: #404040;
}

.close {
  margin-left: 5px;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
  background-color: #404040;
}


.price {
  margin-right: 3vw;
  color: var(--white);
} 

.subtotal {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
}

.envios {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
}

.buy {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}



