/* Navbar */
.navbar {
  display: flex;
  background: var(--black);
  height: 70px;
  width: 100%;
  top: 0px;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  
}

.beers-ul li {
  padding: 0 8px;
}

/* .nav-logo {
  
} */

.log-cart-ul li {
  padding: 0 15px;
}




 
 
 
 /* NAVBAR DE KULA
  // Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #eaf2ca;
  height: 55px;
  width: 100%;
  top: 0px;
  padding: 0 30px; */

