.main-section {
  display: grid;
}

.main-image {
  display: block;
  max-width: 100%;
  
}

.img-box {
  position: relative;
  text-align: center;
  color: white;
}

.h2-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


