
.vista-Register{
    margin: o;
    padding: 0;
    background: url(/images/imagen1.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.vista-Register .header-welcome{
padding-top: 20px;
color: #fff; 
}

.vista-Register main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.vista-Register .register {
width: 230px;
height: 390px;
background: #BCAD85;
color: #000;
box-sizing: border-box;
/* margin: 50vh 20vw ; */
border-radius: 10px;
display: flex;
justify-content: center;
}
.vista-Register .header-form {
    
    width: 230px;
    height: 70px;
    background-color: #000;
   border-radius: 5px 5px 0 0;

}
.vista-Register .register .logo {
   
    width: 160px;
    height: 70px;
    position: relative;
    left: 15%;
   
}
.vista-Register .register .form{
    margin-top: 10px;
    padding: 15px;
    font-size: 12px;
}
.vista-Register .register h3{
text-align: center;

}
.vista-Register .register label {
margin: 2px;
padding: 0px;
font-weight: bold;
}

.vista-Register .register input {
    width: 100%;
    margin-bottom: 20px;
}

.vista-Register .register input[type="text"],
.vista-Register .register input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: black;
    background-color: rgba(0,0,0,0.1);
    outline: none;
    height: 10px;
    color:#000;
    border-radius: 20px;
    font-size: 12px;
    padding: 4px;
}
.vista-Register .register input[type="submit"]{
    border: none;
    outline: none;
    width: 150px;
    height: 35px;
    margin-left: 25px;
    background: #000;
    color: #BCAD85;
    font-size: 14px;
border-radius: 20px;
cursor: pointer;
}

.vista-Register .register input[type="submit"]:hover{
    transition: 0.4s;
    background: #fff;
    color: #000;
}
    
.vista-Register .register a {
text-decoration: none;
font-size: 10px;
line-height: 15px;
color: #000;
}

.vista-Register .register a:hover{
    
    color: #fff ;
}

@media(min-width: 780px){
        .conteiner{ 
       position: relative;
       top: 5px;
       left: 420px;
    }
}
