<header>

    <!-- Navbar -->
    <nav class="navbar">

      <ul class="general-ul beers-ul">
        <li><a href="#"><img src="../images/beer-can.png" alt="lata de cerveza"></a></li>
        <li><a href="#"><img src="../images/beer-bottle.png" alt="botellita de cerveza"></a></li>
      </ul>

      <div class="nav-logo">
        <img src="../images/logo.png" alt="">
      </div>


      <ul class="general-ul log-cart-ul">
        <li><a href="#"><img src="../images/log-reg.png" alt="botellita de cerveza"></a></li>
        <li><a href="#"><img src="../images/shopping-cart.png" alt="botellita de cerveza"></a></li>
      </ul>

    </nav>

  </header>


  <header>
    <div class="cart-logo">
      <img src="../images/logo.png" alt="">
    </div>
  </header>