<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Carrito de compras</title>
</head>

<body class="cart-body">

  <header>
    <div class="cart-logo">
      <img src="../images/logo.png" alt="">
    </div>
  </header>

  <main class="main-cart">

    <article>
      <h3>Mostrar resumen de pedido</h3>
    </article>

  <article class="product-box">

    <div class="square-img-container">

      <div class="circle">
        <div class="circle-content">
          1
        </div>        
      </div>

      <img class="square-img" src="../images/cerveza-peñon.jpg" alt="">
      
      </div>


    <h5 class="description">Cerveza Patagonia 473ml X6u</h5>
    <span class="price">$1200</span>
    
  </article>
  
  </main>
  
  
</body>
</html>


<!-- <div class="square">


</div> -->