<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Birrastore</title>
</head>
<body>
  <header>

    <!-- Navbar -->
    <nav class = "navbar">
      <h1>LOGO</h1>
      <ul>
        <li><a href="#">Lata</a></li>
        <li><a href="#">Botellita</a></li> 
       </ul>
    </nav>

  </header>
  <main class="">

    <img src="" alt="">

  </main>
</body>
</html>