<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Birrastore</title>
</head>
<body>
  <header>

    <!-- Navbar -->
    <nav class = "navbar">

      <ul class="header-ul beers-ul">
        <li><a href="#"><img src="../images/lata.png" alt="lata de cerveza"></a></li>
        <li><a href="#"><img src="../images/bottle.png" alt="botellita de cerveza"></a></li>
      </ul>

      <!-- <a href="#"><img src="../images/logo.jpeg" alt=""></a> -->
      <h1>BIRRA&STORE</h1>

      <ul class="header-ul log-cart-ul">
        <li><a href="#"><img src="../images/log-reg.png" alt="botellita de cerveza"></a></li>
        <li><a href="#"><img src="../images/cart.png" alt="botellita de cerveza"></a></li>
      </ul>

    </nav>

  </header>
  <main class="">

    <h2>Nuestras cervezas</h2>

  </main>
</body>
</html>