<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head-bootstrap") %> 

<body class="admin" >

  <%- include("../partials/header") %> 

    <main class="row">
        
<h1>Productos en stock</h1>

<a href="/admin/create">
    <div>
        <button type="button" class="btn btn-primary">Cargá tu producto</button>
    </div>
</a>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/cerveza-peñon.jpg" class="img-fluid rounded-start" alt="Cerveza peñón">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza peñón</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/ocaso.png" class="img-fluid rounded-start" alt="Cerveza Ocaso">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza Ocaso</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/cerveza-dosDingos.jpg" class="img-fluid rounded-start" alt="Cerveza Dos Dingos">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza Dos Dingos</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/cerveza-patagonia.jpg" class="img-fluid rounded-start" alt="Cerveza Patagonia">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza Patagonia</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/cerveza-tango.png" class="img-fluid rounded-start" alt="Cerveza Tango">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza Tango</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/rabietaMix-710x6.png" class="img-fluid rounded-start" alt="Rabieta Mix">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cerveza Rabieta pack x6</h5>
        <p>Precio:</p>
        <p>Categoría:</p>
        <p class="card-text">Descripción: This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="/admin/edit" class="btn btn-primary">Editar producto</a>
        <a href="/admin" class="btn btn-danger">Eliminar producto</a>
      </div>
    </div>
  </div>
</div>

    </main>

    <%- include("../partials/footer") %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>