<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="create" >
    <header>

    </header>

    <main class="row">
<h1>Creación de productos</h1>

<form action="">
    <div>
        <input type="text" id="name" placeholder="Nombre del producto">
        <label for="name">Nombre del producto</label>
    </div>
</form>

<form action="">
    <div>
        <input type="number" id="precio"  placeholder="Precio">
        <label for="name">Precio</label>
    </div>
</form>

<form action="">
    <div>
        <input type="text" id="categoría" placeholder="Categoría">
        <label for="categoría">Categoría</label>
    </div>
</form>

<form action="">
    <div>
        <textarea name="descripción" id="descripción" cols="30" rows="10" placeholder="Inserte la descripción del producto aquí..."></textarea>
        <label for="descripción">Descripción</label>
    </div>

    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Cargar</label>
      </div>
</form>

<a href="/admin/create">
    <div>
        <button type="button" class="btn btn-primary">Crea tu producto</button>
    </div>
</a>

    </main>

<footer>

</footer>

</body>
</html>