<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head") %> 

<body class="vista-Register">
    <main>
        <div class="conteiner">
        <h3 class="header-welcome">BIenvenido a nuetro sitio</h3>
        <div class="register">

            <div class="header-form">
                <img class="logo" src="/images/logo.jpeg" alt="logo-birrastore">
                <h3>REGISTRATE</h3>
            
                <form class="form" action="/registro" method="POST">
                    
                    <!--Nombre Y Apellido-->
                    <label for="Nombre">Nombre Y Apellido</label>
                    <input type="text" placeholder="Nombre Y Apellido">
                    
                    <!--Correo Electronico-->
                    <label for="Correo">Corre Electronico</label>
                    <input type="text" placeholder="Corre Electronico">
                    
                    <!--Contraseña-->
                    <label for="contraseña">Contraseña</label>
                    <input type="password" placeholder="Contraseña">
                    
                    <input type="submit" value="Registrate">
                    
                    <a href="#">Olvidaste Tu Contraseña</a> 
                    <br>
                    <a href="#">¿Ya Tenes Cuenta?</a>
                </form>
            </div>
            </div>
        </div>
    </main>

</body>

</html>