<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 

<body>
  <%- include("./partials/header") %> 

  <main class="main-section">

    <section class="carousel img-box">

      <img class="main-image" src="../images/carousel.jpg" alt="carousel de ofertas">

      <div class="h2-home">
        <a href="#">
          <h2>OFERTAS</h2>
        </a>
      </div>

    </section>

    <section class="our-business">

      <article class="birras-article img-box">

        <img class="main-image" src="../images/birras-article.jpg" alt="nuestras-birras">

        <div class="h2-home">
          <a href="#">
            <h2>NUESTRAS BIRRAS</h2>
          </a>
        </div>

      </article>

      <article class="about-us img-box">

        <img class="main-image" src="../images/about-us.jpg" alt="sobre-nosotros">

        <div class="h2-home">
          <a href="#">
            <h2>NOSOTROS</h2>
          </a>
        </div>

      </article>

    </section>

  </main>

  
  <%- include("./partials/footer") %> 
  
</body>

</html>